@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@layer components {
  .animate-fade-in {
    animation: fadeIn 1s ease-out backwards;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
